<% count = 0 %>
<table>
<% photos = scrimage.photos.where("parent_photo_id != ?", -1).order("created_at desc") %>
<% photos.each do |photo| %>
	<% count = count+1 %>
	<tr>
		<td class="childCount"><%= count %></td>
		<td><%= render :partial => "layouts/editableImage", :locals => {:scrimage_id => scrimage.id, :image => photo, :imageClass => "responseImage", :curScrimage => scrimage} %> </td>
		<td><% if photo.description %>
			<b><%= photo.description %></b><br/>
			<% end %>
			By <a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a>
			<br><br>
			<% if scrimage.open_for_voting %>
			<%= link_to 'Vote', vote_photos_path(photo_id: photo.id), :class => "submit votebutton", method: :post %> (<%= photo.votes %>)
			<br/>
			<% end %>
			Comments: <%= photo.comments.count %><br/>
			<!--Check if OK to add Share button. Checks if the scrimage is over and if no winner has been 
				determined yet, to make sure that the Share button appears only during the voting period
				next to images edited by the user -->
			<% if scrimage.open_for_voting %>	
				<!--<span id = "b"> Share on Facebook </span>-->
				<div class="fb-share-button fbButton" data-href= "<%= request.original_url %>" data-layout="button"></div>
			<% end %>
		</td>
		<td>
			<% if @scrimage.winner_id != -1 && photo.votes == scrimage.photos.maximum("votes") %>
				<span>
					&nbsp;
					<img class = "winnerIconScrimage" src='/site_images/winner.png'>
				</span>
			<% end %>			
		</td>

	</tr>
<% end %>
</table>

<script type="text/javascript">

	/*$("#b").click(function(){
		FB.ui({
		  method: 'share',
		  url: '<%= request.original_url %>',
		  caption: 'An example caption',
		}, function(response){});		
	});*/

</script>
