<% count = 0 %>
<table>
<% photos = scrimage.photos.where("parent_photo_id != ?", -1).order("created_at desc") %>
<% photos.each do |photo| %>
	<% count = count+1 %>
	<tr>
		<td class="childCount"><%= count %></td>
		<td><%= render :partial => "layouts/editableImage", :locals => {:scrimage_id => scrimage.id, :image => photo, :imageClass => "responseImage", :curScrimage => scrimage} %> </td>
		<td><% if photo.description %>
			<b><%= photo.description %></b><br/>
			<% end %>
			By <a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a>
			<br><br>
			<% if scrimage.open_for_voting && logged_in? %>
				<%= link_to 'Vote', vote_photos_path(photo_id: photo.id), :class => "submit votebutton", method: :post %> (<%= photo.votes %>)
			<br/>
			<% else %>
				Votes: <%= photo.votes %><br/>
			<% end %>
			Comments: <%= photo.comments.count %><br/>
			
			<!--Check if OK to add Share button. Checks if the scrimage is over and if no winner has been 
				determined yet, to make sure that the Share button appears only during the voting period
				next to images edited by the user -->
			<% if scrimage.open_for_voting %>	
				<!--<span id = "b"> Share on Facebook </span>-->
				<span id = "fbShare" style = "cursor:pointer;" onclick = "share('http://scrimage.herokuapp.com' + '<%= photo.filename %>')";> 
					<img src = "/site_images/fb_logo.png">
					Share on Facebook 
				</span>
			<% end %>
		</td>
		<td>
			<% if scrimage.end_time.past? && !scrimage.open_for_voting && scrimage.winner_id != -1 && ( scrimage.photos.maximum("votes") > 0 && photo.votes == scrimage.photos.maximum("votes")) %>
				<span>
					&nbsp;
					<img class = "winnerIconScrimage" src='/site_images/winner.png'>
				</span>
			<% end %>			
		</td>

	</tr>
<% end %>
</table>

<script type="text/javascript">

	function share(pictureURL){
		FB.ui({
		  method: 'feed',
		  link: '<%= request.original_url %>',
		  display: 'popup',
		  name: 'Vote for this image on ScrImage!',
		  description: 'The scrimage that this image is a part of is open for voting. Come cast your vote for this (or any other) image!',
		  picture: pictureURL
		}, function(response){});	
	}

</script>
