<% count = 0 %>
<table>
<% photos = scrimage.photos.where("parent_photo_id != ?", -1).order("created_at desc") %>
<% photos.each do |photo| %>
	<% count = count+1 %>
	<tr>
		<td class="childCount"><%= count %></td>
		<td><%= render :partial => "layouts/editableImage", :locals => {:scrimage_id => scrimage.id, :image => photo, :imageClass => "responseImage"} %>
		<td><% if photo.description %>
			<b><%= photo.description %></b><br/>
			<% end %>
			By <a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a><br><br>
			Votes: <%= photo.votes %><br>
			Comments: <%= photo.comments.count %><br/>
		</td>
	</tr>
<% end %>
</table>