<h1>Create Scrimage</h1>
<center>
	<%= form_tag("/scrimages/create", multipart: true) do %>
		<%= radio_button_tag(:type, :timed, :selected) %>Timed (5 days)
		<br/>
		<%= radio_button_tag(:type, :untimed) %>Untimed
		<br/><br/>
		<%= text_field_tag :name, nil, :placeholder => "ScrImage Title", :size => 42, :class => "formField textField" %>
		<br/><br/>
		<%= text_area_tag :description, nil, :placeholder => "Description (Optional)", :size => "30x10", :class => "formField" %>
		<br/><br/>
		Original Photo:
		<br/><br/>
		<%= file_field_tag(:original_photo) %>	
		<br/><br/>
		<%= submit_tag("Create Scrimage", :class => "submit") %>
	<% end %>
</center>