<input id="initialRemainingSeconds" type=hidden value=<%= @remainingSeconds %> >
<input id="isTimed" type=hidden value=<%= @scrimage.timed %> >

<input id='scrimageID' type=hidden value=<%= @scrimage.id %> >

<h1>Scrimage: <%= @scrimage.name %></h1>
Start Time: <%= @scrimage.start_time.to_formatted_s(:long)  %><br>
<% if(@scrimage.timed == 1) %>End Time: <%= @scrimage.end_time.to_formatted_s(:long)  %><% end %>

<br><br>

<div id="clockDiv"></div>
<br><br>

<center><%= render :partial => "layouts/editableImage", :locals => {:scrimage_id => @scrimage.id, :image => @original_photo, :imageClass => "originalImage"} %></center>
<br>
Description: <%= @scrimage.description %>
<br><br><br>

<div id='childrenPhotos'>
	<%= render :partial => "scrimages/displayChildPhotos", :locals => {:scrimage => @scrimage} %>
</div>


<script type="text/javascript">

	var remainingSeconds = -1;
	$(function(){

		if ( $("#isTimed").val() == 1 ){
			updateTime();
			setInterval('updateTime()', 1000);
		}

		initHoverIcons();
	});

	function updateTime(){
		// if this is the first time the function is called
		if (remainingSeconds == -1) remainingSeconds = $("#initialRemainingSeconds").val();
		else remainingSeconds--;

		var tempRemainingSeconds = remainingSeconds;

		var daysRemaining = Math.floor(tempRemainingSeconds/(60*60*24));

		tempRemainingSeconds = tempRemainingSeconds - daysRemaining*60*60*24;
		var hoursRemaining = Math.floor(tempRemainingSeconds/(60*60));

		tempRemainingSeconds = tempRemainingSeconds - hoursRemaining*60*60;
		var minutesRemaining = Math.floor(tempRemainingSeconds/60);

		var secondsRemaining = Math.floor(tempRemainingSeconds - (minutesRemaining*60));


		var daysString = "Days: "+daysRemaining+"<br>";
		var hoursString = "Hours: "+hoursRemaining+"<br>";
		var minutesString = "Minutes: "+minutesRemaining+"<br>";
		var secondsString = "Seconds: "+secondsRemaining;

		$("#clockDiv").html(daysString+hoursString+minutesString+secondsString);
	}
</script>