<h1>Scrimage: <%= @scrimage.name %></h1>
Start Time: <%= @scrimage.start_time.to_formatted_s(:long)  %><br>
End Time: <%= @scrimage.end_time.to_formatted_s(:long)  %><br>
Days: <%= @daysDif  %><br>
Hours: <%= @hoursDif %><br>
Minutes: <%= @minutesDif %><br>
Seconds: <%= @secondsDif %>