<% if !@error %>
	<input type=hidden id="photoID" value='<%= @photo.id %>' >
	<h1><%= @photo.description %></h1>
	<h2>Uploaded by <a href="/users/<%=@user.id%>"><%= @user.username %></a></h2>
	
	<div class="pageText">Click <a href="/scrimages/<%=@photo.scrimage_id%>">here</a> to see the scrImage this photo is a part of</div>

	<table class="showPhoto">
		<tr>
			<td>
				<img class="mainPhoto" src="<%= @photo.filename %>">
			</td>
			<td>
				<div id="commentsDiv" class="commentsDiv">
					<span>Comments</span>
					<br/>
					<% @comments.each do |comment| %>
						<% commenter = User.find(comment.user_id) %>
						<a href="/users/<%=commenter.id%>"><b><%= commenter.username %></b></a>: <%= comment.text %>
						<br/><br/>
					<% end %>
				</div>
			</td>
		</tr>
	</table>
	<% if logged_in? %>
		<textarea id="new_comment_input" name="new_comment_input"></textarea>
		<div class="addComment">
			<button class="submit" onClick=addComment()>Add Comment</button>
		</div>
	<% end %>
<% end %>

<script type="text/javascript">
	function addComment(){
		$.ajax({
			url: "/photos/create_comment",
			type: "POST",
			data: {photo_id: $("#photoID").val(), text: $("#new_comment_input").val()},
			success: function(msg){
				console.log(msg);
				$("#commentsDiv").append(msg);
				$("#new_comment_input").val("");
			}
		});
	}

</script>