<% if !@error %>

	<input type=hidden id="photoID" value='<%= @photo.id %>' >
	<h1><%= @photo.description %></h1>
	<h2>Uploaded by <a href="/users/<%=@user.id%>"><%= @user.username %></a></h2>
	
	<div class="photoBar">
		
		<% if logged_in? %>
			<% unless current_user.favorite_photos.exists?(id: @photo.id) %>
			<%= link_to image_tag('/images/fav_grey.png'), favorite_photos_path(photo_id: @photo), method: :post %>
			<% else %>
			<%= link_to image_tag('/images/fav_orange.png'), favorite_photo_path(@photo), method: :delete %>
			<% end %>
		<% end %>
		<span class="photoInfo"><%= @photo.votes %> 
			<% if @photo.votes == 1 %>
				Vote
			<% else %>
				Votes
			<% end %>
		</span>

		<a href="/scrimages/<%=@photo.scrimage_id%>" class="photoInfo">See ScrImage</a>
	</div>

	<table class="showPhoto">
		<tr>
			<td>
				<div align = "center">
					<div class="fb-share-button fbButton" data-href= "<%= request.original_url %>" data-layout="button"></div>
					<br>
					<br>
				</div>
				<img class="mainPhoto" src="<%= @photo.filename %>"><br><br>

				<div align = "center">
					<%if @is_winner %>
						<div align = "center">
							<img class = "winnerIconScrimage" src='/site_images/winner.png'>
						</div>
						<br>
					<% end %>
				</div>
				
				<span id = "a"> Share on Facebook </span>

				<br>

				<div id="commentsDiv" class="commentsDiv">
					<span>Comments</span>
					<br/>
					<% if @comments.empty? %>
						No comments yet!
					<% end %>
					<% @comments.each do |comment| %>
						<% commenter = User.find(comment.user_id) %>
						<a href="/users/<%=commenter.id%>"><b><%= commenter.username %></b></a>: <%= comment.text %>
						<br/><br/>
					<% end %>
				</div>
				<% if logged_in? %>
					<br><br>
					<textarea id="new_comment_input" name="new_comment_input"></textarea>
					<div class="addComment">
						<button class="submit" style="margin-top:5px" onClick=addComment()>Add Comment</button>
				<% end %>
		</div>
	<% end %>
			</td>
			<td class='photoTreeTableCell'>
				<center><div id="photoTree"></div></center>
			</td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
	</table>
	

<script type="text/javascript">

	$(function(){
		$.ajax({
			url: "/photos/draw_tree",
			type: "POST",
			data: {photo_id: $("#photoID").val()},
			success: function(msg){
				// console.log(msg);
				$("#photoTree").html(msg);
			}
		});
	});

	function addComment(){
		$.ajax({
			url: "/photos/create_comment",
			type: "POST",
			data: {photo_id: $("#photoID").val(), text: $("#new_comment_input").val()},
			success: function(msg){
				// console.log(msg);
				$("#commentsDiv").append(msg);
				$("#new_comment_input").val("");
			}
		});
	}

	$("#a").click(function(e){
		e.preventDefault();
		FB.ui({
		  method: 'share',
		  url: '<%= request.original_url %>',
		  caption: 'An example caption',
		}, function(response){});		
	});


</script>