<div class="editableImage">
	<span class='hoverIcons' style='display:none'>
		<span onclick="showModal('editModal<%= image.id %>')" class='hoverIcon hoverIconLeft' style='display:inline-flex'>
			<img src='/images/edit_symbol.png'>
		</span>
		&nbsp;&nbsp;
		<span onclick="showModal('uploadModal<%= image.id %>')" class='hoverIcon hoverIconRight'style='display:inline-flex'>
			<img src='/images/upload_symbol.png'>
		</span>
	</span>

<<<<<<< HEAD
	<img class='<%= imageClass %>' src='/images/<%= image.filename %>' >
</div>


<script type="text/javascript">
	function setSelectedImage(imageID){
		$("#selectedImageToEdit").val(imageID);
	}	
</script>
=======
	<a href="/photos/<%=image.id%>"><img class='<%= imageClass %>' src="<%= image.filename %>" ></a>
</div>


<!-- Creates a modal that is hidden until the js open/close functions are called -->
<div id="editModal<%= image.id %>" class="modalDialog">
	<div>
		<span onclick=closeModal('editModal<%= image.id %>') title="Close" class="close">X</span>
		<h2>Editing Options</h2>
		<center>
			<button class='btn'>Edit in Browser</button>
			<form method="get" action="<%= image.filename %>">
				<button class='btn'>Download to Edit Offline</button>
			</form>
		</center>
	</div>
</div>

<div id="uploadModal<%= image.id %>" class="modalDialog">
	<div>
		<span onclick=closeModal('uploadModal<%= image.id %>') title="Close" class="close">X</span>
		<h2>Upload Edited Version</h2>
		<center>
			<%= file_field_tag("editedPhoto"+image.id.to_s) %>
			<br><br>
			<button class='btn' onclick="uploadEditedImage('editedPhoto<%= image.id %>')">Create Scrimage</button>
		</center>
	</div>
</div>
>>>>>>> 7a48fe6d667d212f97182f5aabb194239c6af420
