<div class="editableImage">
	<% if logged_in? %>
		<span class='hoverIcons' style='display:none'>
			<span onclick="showModal('editModal<%= image.id %>')" class='hoverIcon hoverIconLeft' style='display:inline-flex'>
				<img src='/site_images/edit_symbol.png'>
			</span>
			&nbsp;&nbsp;
			<span onclick="showModal('uploadModal<%= image.id %>')" class='hoverIcon hoverIconRight'style='display:inline-flex'>
				<img src='/site_images/upload_symbol.png'>
			</span>
		</span>
	<% end %>

	<a href="/photos/<%=image.id%>"><img class='<%= imageClass %>' src="<%= image.filename %>" id = "img<%= image.id %>" ></a>
</div>


<!-- Creates a modal that is hidden until the js open/close functions are called -->
<div id="editModal<%= image.id %>" class="modalDialog">
	<div>
		<span onclick=closeModal('editModal<%= image.id %>') title="Close" class="close">X</span>
		<h2>Editing Options</h2>
		<center>
			<button class='btn' id = "browserEditButton" onclick = 'openAPI("<%= image.id %>", "img<%= image.id %>", "<%= image.filename %>", "<%= scrimage_id %>")'>Edit in Browser</button>
			<a href="/site_images/<%= image.filename %>" download="<%= image.filename %>"><button class='btn'>Download to Edit Offline</button></a>
		</center>
	</div>
</div>

<div id="uploadModal<%= image.id %>" class="modalDialog">
	<div>
		<span onclick=closeModal('uploadModal<%= image.id %>') title="Close" class="close">X</span>
		<h2>Upload Edited Version</h2>
		<center>
			<%= form_tag("/scrimages/uploadEditedImage", method: "post", id: "uploadPhoto"+image.id.to_s, multipart: true) do %>
				<%= hidden_field_tag(:scrimage_id, scrimage_id) %>
				<%= hidden_field_tag(:parent_photo_id, image.id) %>
				<%= hidden_field_tag(:filename, image.filename) %>
				Photo Title: <%= text_field_tag("editedPhotoText") %>
				<br><br>
				<%= file_field_tag("editedPhoto") %>
				<br><br>
				<button class='btn' onclick="uploadEditedImage(<%= image.id.to_s %>)">Upload Edited Photo</button>
			<% end %>
		</center>
	</div>
</div>

