<!DOCTYPE html>
<html>
<head>
	<title>scrIMAGE</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '438062433016733',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  FB = null;
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     //if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
	<div class="sidebar">

		<a href="/"><img src="/scrimage_logo2.png" class="logo"></a>
		<% if logged_in? %>
			<h1>Hi <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>! [<%= link_to "Logout", logout_path, method: "delete" %>]</h1>

		<center><a href="/users/<%= current_user.id %>"><img src="/images/<%= current_user.profile_image %>" class="thumbnail"></a></center>
			
		<% else %>
			<h1><a href="/login">Login</a> | <a href="/signup">Sign up</a></h1>
		<% end %>

		<p align="center"><b>Welcome to scrImage!</b>
			<br/>
			To get started, click the browse button below to search through all of the existing scrImages. Each scrImage has an original photo and different child photos that users have edited and uploaded. Click the create button below to create your own.
			<br/>
			Have fun!
		</p>

		<div class="links">
			<a href="/searches">Browse</a>
			<a href="/scrimages/new_scrimage">Create</a>
		</div>
	</div>
	<div class="main">

		<% flash.each do |message_type, message| %>
        	<h1 class="<%= message_type %>"><%= message %></h1>
      	<% end %>

		<%= yield %>

	</div>
</div>
</body>
</html>