<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>scrIMAGE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
>>>>>>> a9c51d993f92b41a015f6ec8fd42521a22d86fca
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
