<!DOCTYPE html>
<html>
<head>
	<title>scrIMAGE</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="sidebar">

		<a href="/"><img src="/scrimage_logo2.png" class="logo"></a>
		<% if logged_in? %>
			<h1>Hi <a href="/user/<%= current_user.id %>"><%= current_user.username %></a>! [<a href="/user/logout/<%= current_user.id %>">logout</a>]</h1>
			
		<% else %>
			<h1><a href="/user/login">Login</a> | <a href="/signup">Sign up</a></h1>
		<% end %>

		<p>Welcome to scrIMAGE! Description of website, what you can do, blah blah blah, fill up some space before the next header, somebody write something here pls. Kthxbai.</p>

		
		<div id = "coolOrMeh"> 
			<h1>Cool or Meh?</h1> 
			<br>
			<br>
			<img src = "http://community.ashworthcollege.edu/servlet/JiveServlet/showImage/2-117708-22554/digital,graphics,manipulation,photography,creative,graphic,design,photoshop-0f5c062855b6b7c412b092db611225bc_h.jpg" alt = "Cool or Meh Image" class = "section3Img"/>
			<br>
			<a href = "#"> View Larger</a>
			<br>
			<br>
			<button>Cool!</button>
			&nbsp;
			&nbsp;
			<button>Meh.</button>
			<br>
			<br>
			<a href = "#"> View Another Image</a>
		</div>

	</div>
	<div class="main">

		<% flash.each do |message_type, message| %>
        	<%= message %>	
      	<% end %>

		<%= yield %>

	</div>
</div>
</body>
</html>
