<h1>New Photos</h1>

<p align="center">What's new in the world of scrImages?</p>

<div class="images">
	<% @new_photos.each do |p| %>
	<a href="/photos/<%=p.id%>"><img src="<%=p.filename%>" class="homepage"></a>
	<% end %>
</div>

<h1>Vote</h1>

<% if !@scrimage %>
	<p align="center">There are currently no scrImages open for voting that you have not already voted in. Please check back later.</p>
<% else %>
	<% if logged_in? %>
		<p align="center">This scrImage is currently open for voting. Cast a vote for your favorite image. Click <a href="/scrimages/<%=@scrimage.id%>">here</a> to see all images in this scrImage.</p>
	<% else %>
		<p align="center">This scrImage is currently open for voting. Log in or sign up to cast your vote. Click <a href="/scrimages/<%=@scrimage.id%>">here</a> to see all images in this scrImage.</p>
	<% end %>

	<center>
		<a href="/photos/<%=@originalPhoto.id%>"><img src="<%=@originalPhoto.filename%>" class="votingOrig"></a>
	</center>

	<div class="images">
		<% @childPhotos.each do |p| %>
		<div class="votingImage">
			<a href="/photos/<%=p.id%>"><img src="<%=p.filename%>" class="votingPhotos"></a>
			<br/>
			<% if logged_in? %>
			<%= link_to 'Vote', vote_photos_path(photo_id: p.id), :class => "submit votebutton", method: :post %>
			<% end %>
		</div>
		<% end %>
	</div>
<% end %>

<script>
$('.votebutton').click(function(e) {
	$('.votebutton').fadeOut();
	$('.votingPhotos').fadeOut();
	$('.votingOrig').fadeOut();
});
</script>