<h1>Registration</h1>

<% if flash[:loggedin] %>
	<p><%= flash[:loggedin] %> | <a href="/user/logout">Logout?</a></p>
<% else %>
	<p>If you already have an account, <a href="/user/login">login here</a>.</p>

	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	
	<% @user.errors.full_messages.each do |msg| %>
	  <p><%= msg %></p>
	<% end %>

	<%= form_for @user, :url => {:action => :create} do |form| %>
	  Username: <br/><%= form.text_field(:username) %><br/>
	  Password: <br/><%= form.password_field(:password) %><br/>
	  Password (again): <br/><%= form.password_field(:password_confirmation) %><br/>
	  <br/>
	  <%= form.submit "Register" %>
	<% end %>
<% end %>