<% if @can_edit %>
	<h1>Edit <%= @user.username %>'s Profile</h1>

	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	
	<% @user.errors.full_messages.each do |msg| %>
	  <p><%= msg %></p>
	<% end %>

	<%= form_for(@user) do |form| %>
	  Old Password (required): <br/><%= form.password_field(:old_password) %><br/>
	  New Password: <br/><%= form.password_field(:password) %><br/>
	  New Password (again): <br/><%= form.password_field(:password_confirmation) %><br/>
	  Bio: <br/><%= form.text_area(:bio, size: '50x10') %><br/>
	  <br/>
	  <%= form.submit "Edit Profile" %>
	<% end %>
<% else %>
	<h1>Error</h1>
	<p>You do not have permission to edit this user's profile.</p>
<% end %>
