<% if flash[:error] %>
	<p>That user does not exist</p>
<% else %>
	<h1><%= @user.username %>'s Profile <% if current_user?(@user) %><a href="/users/<%= @user.id %>/edit">[edit]</a><% end %></h1>

	<center>
	<img src="/images/<%= @user.profile_image %>" class="profileimg">
	<p> 
		Points: <span id = "points"> <%= @user.points %> </span> <br/>
		Bio: <%= @user.bio %>
	</p>
	</center>

	<h1><%= @user.username %>'s Photos</h1>
	<% Photo.where(user_id: @user.id).find_each do |p| %>
		<a href="/photos/<%=p.id%>"><img src="<%= p.filename %>" class="thumbnail"></a>
	<% end %>
	<br/><br/>
	<h1><%= @user.username %>'s Favorites</h1>
	<% @user.favorite_photos.each do |p| %>
		<a href="/photos/<%=p.id%>"><img src="<%= p.filename %>" class="thumbnail"></a>
	<% end %>
<% end %>

<% if @notifications.count() > 0 %>
	<div id='notificationsModal' class="modalDialog">
		<div>
			<span onclick="closeModal('notificationsModal'); awardPoints();" title="Close" class="close">X</span>
			<h2><%= @user.username %>'s Notifications</h2>

			<ul>
				<% @notifications.each do |notification| %>
					<li><%= notification.message %></li>

					<% if notification.message.include? "Points" %>
						<% @user.update(points: @user.points + 100) %>
					<% end %>

					<% notification.update(been_viewed: 1) %>
				<% end %>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		showModal('notificationsModal');

		function awardPoints(){
			document.getElementById("points").innerHTML = "<%= @user.points %>";
		}

	</script>
<% end %>