<% if flash[:error] %>
	<p>That user does not exist</p>
<% else %>
	<h1><%= @user.username %>'s Profile <% if current_user?(@user) %><a href="/users/<%= @user.id %>/edit">[edit]</a><% end %></h1>

	<center>
	<img src="/images/<%= @user.profile_image %>" class="profileimg">
	<p> 
		Points: <span id = "points"> <%= @user.points %> </span> <br/>
		Bio: <%= @user.bio %>
	</p>
	</center>

	<h1><%= @user.username %>'s Photos</h1>
	<div id="userPhotos">
		<%= render :partial => "users/draw_user_photos", :locals => {:user => @user.id, :photos => @userPhotos} %>
	</div>
	<br/><br/>
	<h1><%= @user.username %>'s Favorites</h1>
	<% if @user.favorite_photos.empty? %>
		<p>No favorites yet!</p>
	<% else %>
		<% @user.favorite_photos.each do |p| %>
			<a href="/photos/<%=p.id%>"><img src="<%= p.filename %>" class="thumbnail"></a>
		<% end %>
	<% end %>
<% end %>

<script type="text/javascript">

	$(function(){
		getNotifications();
	});

	function getNotifications(){
		$.ajax({
			url : "/users/getNotifications",
			type : "POST",
			data : { 
				user_id: <%= @user.id %>
			},
		    success: function(html){
		    	$("body").append(html);
		    	showModal('notificationsModal');
		    },
	      	error:function(data){
	      		alert("An unexpected error occurred.")
	      	}
	    });	
	}

</script>
